@tailwind base;
@tailwind components;
@tailwind utilities;

.EasyMDEContainer {
	height: 100% !important;
	display: flex !important;
	flex-direction: column !important;
}

.CodeMirror {
	flex: 1 1 0% !important;
}

.EasyMDEContainer .CodeMirror {
	border: none !important;
}

.editor-toolbar {
	border: none;
	border-bottom: 1px solid #ced4da;
}
